@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'JetBrain';
    src: url(../public/fonts/ttf/JetBrainsMonoNL-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  